<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/la-hacks-covid.css">
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">

    </head>
    <style>
    div.heady
      {
        font-family: 'Alata', sans-serif;

      }
    </style>
    <title>
      COVID-19 Alerts
    </title>
  </head>
  <body>

    <!-- <div>
      <textarea id = "inputPhoneNumber" style = "width:80%;height:100px;"> Please enter your phone number here. </textarea>
    </div>

    <input type="button" value="Submit" onclick="sendText()" class="center">
  -->

    <div id="inputForm" class="center">
      <h1>
        Sign up to be alerted about new COVID-19/coronavirus cases in your area!
      </h1>

        <label for="name">Please enter your name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="phoneNum">Please enter your phone number:</label>
        <input type="text" id="inputPhoneNumber" name="phoneNum"><br><br>
        <input type="submit" value="Submit" onclick="sendText()">

      <p id = "result"> </p>
    </div>
<div class="parent">
    <div class="animate center div1">
      <img style="content:url('https://4.bp.blogspot.com/-VbfkLVQvk7Y/Wn1aBcTCSLI/AAAAAAABKRg/h7BmbqQUUesnMUsaeHPH6S0RtiM70NV0gCLcBGAs/s800/mask_animal_neko.png')">
      <h2><a url="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">How to Protect Yourself</a></h2>
    </div>
    <div class="animate center div2">
      <img style="content: url('https://1.bp.blogspot.com/-q0vC8T9XRSg/XiOwuwtXJLI/AAAAAAABXHk/clxgC9d2E8YrWluWTw0NFYP832mEMdN-ACNcBGAsYHQ/s1600/virus_corona.png');">
      <h2><a url="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">COVID-19 Visualized (Map)</a></h2>
    </div>
    <div class="animate center div3">
      <img style="content: url('https://1.bp.blogspot.com/-PC30egvph_o/Xn1wBMZlQiI/AAAAAAABX7o/eos7Q6dUXFsn99fFFVxIiG7XD4YuKFppwCNcBGAsYHQ/s1600/virus_lockdown_city.png');">
      <h2><a url="https://www.weforum.org/agenda/2020/03/why-lockdowns-work-epidemics-coronavirus-covid19/">Why Lockdown Measures Are So Important</a></h2>
    </div>
</div>
  </body>
  <script>

    document.getElementById("inputPhoneNumber").value = '+1'

    function sendText()
    {
      var toPhoneNumber = document.getElementById("inputPhoneNumber").value;
      var returnString = httpGet("/textSend?phoneNumber="+toPhoneNumber);
      document.getElementById('result').innerHtml - returnString;
    }



    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

  </script>
</html>
